/* CSS reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Start NW CSS */
.header-1 {
  grid-area: top-1;
  background-color: rgb(3,152,158);
  height: 150px;
}

.header-2 {
  grid-area: top-2;
  background-color: rgb(3,152,158);
  height: 150px;
}

.header-3 {
  grid-area: top-3;
  background-color: rgb(3,152,158);
  height: 150px;
}

.main {
  grid-area: mid;
  background-color: rgb(3,152,158);
  height: 300px;
}

.footer {
  grid-area: footer;
  background-color: rgb(201,226,103);
  height: 25px;
}

.grid {
  display: grid;
  grid-template-areas:
    "top-1  top-2   top-3"
    "mid    mid     mid"
    "footer footer  footer";
  gap: 15px;
  width: 80vw;
  /* border: 1px solid black; */
  margin: auto;
  margin-top: 20px;
}

hr {
  margin: 2rem 0;
}

.mailing-list-text {
  text-align: center;
}

form > div {
  margin: 1% 0;
}

form {
  margin: auto;
}

#form-sub-text {
  text-align: center;
}